version: "3.9"

services:
  app:
    build: .
    container_name: jambtest
    restart: always
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongo:27017/mydb
    depends_on:
      - mongo
    volumes:
      - .:/app

  mongo:
    image: mongo:6
    container_name: jambtest_mongo
    restart: always
    ports:
      - "27018:27017" # host:container mapping
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
